-f https://download.pytorch.org/whl/torch_stable.html
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
cloudpickle== 1.6.0
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
numpy
olefile==0.46
opencv-python-headless==4.2.0.32
Pillow
pyarrow==3.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein
scikit-learn==0.24.1
scipy==1.5.4
six 
threadpoolctl==2.1.0
torch==1.7.1+cpu
torchvision==0.8.2+cpu
tqdm==4.59.0
typing-extensions
Werkzeug==1.0.1
wincertstore==0.2
gunicorn==19.0.0
